<mat-card>
  <mat-toolbar>
    <span> Cursos </span>
  </mat-toolbar>
  <div *ngIf="cursos$ | async as cursos; else loading">
    <table mat-table [dataSource]="cursos" class="mat-elevation-z8">
      <!-- Coluna de Nome -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome do Curso</th>
        <td mat-cell *matCellDef="let curso">{{ curso.name }}</td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let curso">{{ curso.categoria }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button
            mat-mini-fab
            color="accent"
            aria-label="Adicionar"
          >
            <mat-icon (click)="onAdd()">add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let curso">
          <button mat-icon-button color="accent" aria-label="Editar">
            <mat-icon>edit</mat-icon>
          </button>
        
          <button mat-icon-button color="accent" aria-label="Deletar">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
